
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
text-decoration: none;
}

nav {
  display:flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: inter;
  background-color: lightcoral;
  color: white;
}

nav .logo {
  font-size: 22px;
  font-weight:700;
  text-transform: uppercase;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width:30%;
}


nav .nav-links a {
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 1px solid #fff;

}

nav .house {
  font-size: 30px;
  cursor: pointer;
}

@media all and (max-width: 768) {
  nav .house {
    display: block;
    font-size: 28px;
  }


nav .nav-links {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  background: lightcoral;
  padding: 40px;
  width: 30%;
  transform: translateX(0px);
  transition: 0.5s ease-in-out;
}

nav .nav-links li {
padding: 25px;
border: 1px solid #ccc;
}

nav .nav-links li:last-of-type {
  border-bottom: 0px solid #fff
}

nav .nav-links a:hover {
  border-bottom: 0px solid #fff;
}
}