.card {
  width: 600px;
  height: 280px;
  border: 0px solid rgb(250, 247, 247);
  border-radius: 12px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  background-color: rgba(111, 126, 167, 0.658);
  }

  .card-image {
    position: absolute;
    left: 0px;
    width:30%;
    height:50%;
  }
 
.card-title {
  padding: 5px;
  color: #FFF;
  position: relative;
  right:-100px;
  font-size: large;
  top:15px;

}
body {
  background-color: #000033;
}

.Cardname {
  padding: 5px;
  color: rgb(167, 174, 236);
  position: relative;
  right:-100px;
  font-size: small;
}
.Location {
  padding: 5px;
  color: rgb(215, 219, 226);
  position: relative;
  right:-100px;
  font-size: small;
  top:-30px;
}
.cardh1 {
  padding: 5px;
  color: rgb(217, 218, 221);
  position: relative;
  right:-250px;
  font-size: x-large;
}